.active {
    font-size: 1rem;
    
    font-weight: 1000;
    display: block;
    -webkit-text-stroke: 1px black;
    color: #e8dd78;
    text-shadow:
       0px 2px 0 #000,
     1px 1px 0 #000,  
      1px 1px 0 #000,
      1px 1px 0 #000,
       1px 1px 0 #000;
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
    /* border: 2px solid black; */
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #313131;
}

nav ul {
    display: flex;
    

}

nav ul li {
    list-style: none;
    padding-top: 1rem;
    
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #313131;
    padding: 1rem;
    margin: 0 0.5rem;
    font-weight: 1000;
}

nav ul li a:hover {
    font-size: 1rem;
   
    font-weight: 1000;
    display: block;
    -webkit-text-stroke: 1px black;
    color: #e8dd78;
    text-shadow:
       0px 2px 0 #000,
     1px 1px 0 #000,  
      1px 1px 0 #000,
      1px 1px 0 #000,
       1px 1px 0 #000;
    
}